<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Link to the file hosted on your server, -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="js/splide/splide.min.css">

    <!-- or the one installed in node_modules directory, -->
    <link rel="stylesheet" href="node_modules/@splidejs/splide/dist/css/splide.min.css">

    <!-- or the reference on CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    

    <title>Document</title>
</head>
<body>
        <div class="container_main">
            <div class="header">
                <div class="logo">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="">Project</a> /</li>
                        <li><a href="">About </a> /</li>
                        <li><a href="">People </a>/</li>
                        <li><a href="">Awards </a>/</li>
                        <li><a href="">News</a></li>
                    </ul>
                </div>
            </div>

            <div class="tbl-tab">
                <ul>
                    <li><a href="">word timeline lists</a></li>
                    <li><a href="">word timeline images </a></li>
                    <li><a href="">word timeline grid</a></li>
                </ul>
            </div>

            <div class="container">

                <div class="row">
                    <div class="menu_title">
                        <div><p>year</p></div>
                        <div><p>Title</p></div>
                        <div><p>Location</p></div>
                        <div><p>Category</p></div>
                    </div>

                    <div class="content type">
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
    
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
                        <div class="description">
                            <div class="year">2010</div>
                            <div class="title">Poolscape Villa</div>
                            <div class="location">Aquab.Jordan</div>
                            <div class="category">House</div>
                        </div>
    
                    </div>

                    <div class="laod_more">
                        <div class="title">
                            <span>Load More</span>
                        </div>
                    </div>

                    


                </div>

            </div>

        </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src="js/main.js"></script>
</html>



