.box__images--pagination {
  margin-bottom: 20px;

  .pagination {
    justify-content: center;
    border-radius: unset !important;

    .page-item {
      .page-link {
        color: #c9c9c9;
        font-size: 22px;
        border: unset;
        line-height: 46px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .page-item.active {
      .page-link {
        z-index: 1;
        color: #fff;
        background-color: #0092e8;
        border-color: #007bff;
        width: 46px;
        height: 46px;
        line-height: 46px;
        font-size: 22px !important;
        border-radius: 4px !important;
        text-align: center;
        padding: 0;
      }
    }
  }
}
