.hiring__page .container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  .col-lg-3 {
    @media (min-width: 992px) {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

  .col-lg-9 {
    @media (min-width: 992px) {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
}

article {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.161);

  .post-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 67%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
  }

  .post-content {
    padding: 15px 17px;

    .post__posted-on {
      font-size: 13px;
      color: #ababab;

      p {
        margin-bottom: 0;
      }
    }

    .post__main-title {
      -webkit-line-clamp: 2;
      line-height: 25px;
      height: 55px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-bottom: 15px;
      color: #0092e8;
      a {
        color: #0092e8;
        font-size: 17px;
        font-weight: bold;
      }
    }

    .post__main--description {
      font-size: 16px;
      color: #6d6d6d;
      padding-top: 0;
      -webkit-line-clamp: 4;
      line-height: 25px;
      height: 100px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      p {
        margin-bottom: 0;
      }
    }

    .post__btn--more {
      padding-top: 20px;

      a {
        font-size: 16px;
        color: #6d6d6d;
        text-decoration: underline;
        font-weight: 300;
        &:hover{
          color: $theme;
        }
      }
    }
  }
}

article.small-post {
  margin-top: 45px;

  .post-content {
    .post__main--description {
      p {
        -webkit-line-clamp: 5;
        line-height: 25px;
        height: 125px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.pagi__right {
  margin-top: 20px;

  ul.pagination {
    @media (max-width: 992px) {
      justify-content: center !important;
    }
    justify-content: flex-end;
  }
}
